#article-image1{
    background-image: url('z1.jpg'); 
    
}
#article-image2{
    background-image: url('z2.jpg'); 
    
}
#article-image3{
    background-image: url('Z3.jpg'); 
    
}
#article-image4{
    background-image: url('Z4.jpg'); 
    
}
#article-image5{
    background-image: url('z5.jpg'); 
    
}
#article-image6{
    background-image: url('z6.jpg'); 
    
}
#article-image7{
    background-image: url('z7.jpg'); 
    
}
#article-image9{
    background-image: url('z8.jpg'); 
    
}
#article-image8{
    background-image: url('z9.jpg'); 
    
}
#article-image10{
    background-image: url('z10.jpg'); 
    
}
#article-image11{
    background-image: url('z11.jpg'); 
    
}
#article-image12{
    background-image: url('z12.jpg'); 
    
}
#article-image13{
    background-image: url('z13.jpg'); 
    
}
#article-image14{
    background-image: url('z14.jpg'); 
    
}

#article-image15{
    background-image: url('z15.jpg'); 
    
}
#article-image16{
    background-image: url('z16.jpg'); 
    
}
#article-image17{
    background-image: url('z17.jpg'); 
    
}
#article-image18{
    background-image: url('z18.jpg'); 
    
}
#article-image19{
    background-image: url('z19.jpg'); 
    
}
#article-image20{
    background-image: url('z20.jpg'); 
    
}
#article-image21{
    background-image: url('z21.jpg'); 
    
}
#article-image22{
    background-image: url('z22.jpg'); 
    
}
#article-image23{
    background-image: url('z23.jpg'); 
    
}
#article-image24{
    background-image: url('z24.jpg'); 
    
}
#article-image25{
    background-image: url('z25.jpg'); 
    
}
#article-image26{
    background-image: url('z26.jpg'); 
    
}
#article-image27{
    background-image: url('z27.jpg'); 
    
}
#article-image28{
    background-image: url('z28.jpg'); 
    
}
#article-image29{
    background-image: url('z29.jpg'); 
    
}
#article-image30{
    background-image: url('z30.jpg'); 
    
}
#article-image31{
    background-image: url('z31.jpg'); 
    
}
#article-image32{
    background-image: url('z32.jpg'); 
    
}
#article-image33{
    background-image: url('z33.jpg'); 
    
}
#article-image34{
    background-image: url('z34.jpg'); 
    
}
#article-image35{
    background-image: url('z35.jpg'); 
    
}
#article-image36{
    background-image: url('z36.jpg'); 
    
}
#article-image37{
    background-image: url('z37.jpg'); 
    
}
#article-image38{
    background-image: url('z38.jpg'); 
    
}
#article-image39{
    background-image: url('z39.jpg'); 
    
}
#article-image40{
    background-image: url('z40.jpg'); 
    
}
#article-image41{
    background-image: url('z41.jpg'); 
    
}
#article-image42{
    background-image: url('z42.jpg'); 
    
}
#article-image43{
    background-image: url('z43.jpg'); 
    
}
#article-image44{
    background-image: url('z44.jpg'); 
    
}
#article-image45{
    background-image: url('z45.jpg'); 
    
}
#article-image46{
    background-image: url('z46.jpg'); 
    
}
#article-image47{
    background-image: url('z47.jpg'); 
    
}