#article-image1{
    background-image: url('q1.jpg'); 
    
}
#article-image2{
    background-image: url('q2.jpg'); 
    
}
#article-image3{
    background-image: url('q45.jpg'); 
    
}
#article-image4{
    background-image: url('q18.jpg'); 
    
}
#article-image5{
    background-image: url('q5.jpg'); 
    
}
#article-image6{
    background-image: url('q6.jpg'); 
    
}
#article-image7{
    background-image: url('q7.jpg'); 
    
}
#article-image9{
    background-image: url('q8.jpg'); 
    
}
#article-image8{
    background-image: url('q9.jpg'); 
    
}
#article-image10{
    background-image: url('q10.jpg'); 
    
}
#article-image11{
    background-image: url('q11.jpg'); 
    
}
#article-image12{
    background-image: url('q12.jpg'); 
    
}
#article-image13{
    background-image: url('q13.jpg'); 
    
}
#article-image14{
    background-image: url('q14.jpg'); 
    
}

#article-image15{
    background-image: url('q15.jpg'); 
    
}
#article-image16{
    background-image: url('q16.jpg'); 
    
}
#article-image17{
    background-image: url('q17.jpg'); 
    
}
#article-image18{
    background-image: url('q4.jpg'); 
    
}
#article-image19{
    background-image: url('q20.jpg'); 
    
}
#article-image20{
    background-image: url('q21.jpg'); 
    
}
#article-image21{
    background-image: url('q22.jpg'); 
    
}
#article-image22{
    background-image: url('q23.jpg'); 
    
}
#article-image23{
    background-image: url('q24.jpg'); 
    
}
#article-image24{
    background-image: url('q25.jpg'); 
    
}
#article-image25{
    background-image: url('q26.jpg'); 
    
}
#article-image26{
    background-image: url('q27.jpg'); 
    
}
#article-image27{
    background-image: url('q28.jpg'); 
    
}
#article-image28{
    background-image: url('q29.jpg'); 
    
}
#article-image29{
    background-image: url('q30.jpg'); 
    
}
#article-image30{
    background-image: url('q31.jpg'); 
    
}
#article-image31{
    background-image: url('q32.jpg'); 
    
}
#article-image32{
    background-image: url('q33.jpg'); 
    
}
#article-image33{
    background-image: url('q34.jpg'); 
    
}
#article-image34{
    background-image: url('q36.jpg'); 
    
}
#article-image35{
    background-image: url('q38.jpg'); 
    
}
#article-image36{
    background-image: url('q39.jpg'); 
    
}
#article-image37{
    background-image: url('q40.jpg'); 
    
}
#article-image38{
    background-image: url('q41.jpg'); 
    
}
#article-image39{
    background-image: url('q42.jpg'); 
    
}
#article-image40{
    background-image: url('q43.jpg'); 
    
}
#article-image41{
    background-image: url('q44.jpg'); 
    
}
#article-image42{
    background-image: url('q3.jpg'); 
    
}
#article-image43{
    background-image: url('q46.jpg'); 
    
}
#article-image44{
    background-image: url('q47.jpg'); 
    
}
