#article-image1{
    background-image: url('banc1.jpg'); 
    
}
#article-image2{
    background-image: url('banc2.jpg'); 
    
}
#article-image3{
    background-image: url('korsi\ azrak.jpg'); 
    
}
#article-image4{
    background-image: url('korsi\ sif.jpg'); 
    
}
#article-image5{
    background-image: url('pouf1.jpg'); 
    
}
#article-image6{
    background-image: url('pouf2.jpg'); 
    
}
#article-image7{
    background-image: url('pouf3.jpg'); 
    
}
#article-image9{
    background-image: url('mkhada3.jpg'); 
    
}
#article-image8{
    background-image: url('pouf4.jpg'); 
    
}
#article-image10{
    background-image: url('mkhada4.jpg'); 
    
}
#article-image11{
    background-image: url('mkhada6.jpg'); 
    
}
#article-image12{
    background-image: url('mkhada7.jpg'); 
    
}
#article-image13{
    background-image: url('ladiva1.jpg'); 
    
}
#article-image14{
    background-image: url('ladiva2.jpg'); 
    
}

#article-image15{
    background-image: url('ladiva3.jpg'); 
    
}
#article-image16{
    background-image: url('pc.jpg'); 
    
}
#article-image17{
    background-image: url('pc2.jpg'); 
    
}
#article-image18{
    background-image: url('tab.jpg'); 
    
}
#article-image19{
    background-image: url('cagetel.jpg'); 
    
}
#article-image20{
    background-image: url('cagetel2.jpg'); 
    
}
#article-image21{
    background-image: url('cagetel3.jpg'); 
    
}
#article-image22{
    background-image: url('cage5.jpg'); 
    
}
#article-image23{
    background-image: url('cam.jpg'); 
    
}
#article-image24{
    background-image: url('kteb1.jpg'); 
    
}
#article-image25{
    background-image: url('kteb2.jpg'); 
    
}
#article-image26{
    background-image: url('kteb3.jpg'); 
    
}
#article-image27{
    background-image: url('mraia.jpg'); 
    
}
#article-image28{
    background-image: url('maraia2.jpg'); 
    
}
#article-image29{
    background-image: url('dhaw.jpg'); 
    
}
#article-image30{
    background-image: url('nabta.jpg'); 
    
}