#article-image1{
    background-image: url('m1.jpg'); 
    
}
#article-image2{
    background-image: url('m2.jpg'); 
    
}
#article-image3{
    background-image: url('m3.jpg'); 
    
}
#article-image4{
    background-image: url('m4.png'); 
    
}
#article-image5{
    background-image: url('m5.jpg'); 
    
}
#article-image6{
    background-image: url('m6.jpg'); 
    
}
#article-image7{
    background-image: url('m7.jpg'); 
    
}
#article-image9{
    background-image: url('m8.jpg'); 
    
}
#article-image8{
    background-image: url('m10.jpg'); 
    
}
#article-image10{
    background-image: url('m11.jpg'); 
    
}
#article-image11{
    background-image: url('m12.png'); 
    
}
#article-image12{
    background-image: url('m13.jpg'); 
    
}
#article-image13{
    background-image: url('m14.png'); 
    
}
#article-image14{
    background-image: url('m15.jpg'); 
    
}

#article-image15{
    background-image: url('m16.png'); 
    
}
#article-image16{
    background-image: url('m17.jpg'); 
    
}
#article-image17{
    background-image: url('m18.jpg'); 
    
}
#article-image18{
    background-image: url('m19.jpg'); 
    
}
#article-image19{
    background-image: url('m20.jpg'); 
    
}
#article-image20{
    background-image: url('m21.jpg'); 
    
}
#article-image21{
    background-image: url('m22.jpg'); 
    
}
#article-image22{
    background-image: url('m23.jpg'); 
    
}
#article-image23{
    background-image: url('m24.jpg'); 
    
}
#article-image24{
    background-image: url('m25.jpg'); 
    
}
