.categorie{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #FFB789;
    margin-bottom: 30px;
}
.categorie h1{
    color: #FFF1E2;
}


.article{
    background-color: #FFF1E2;
    border-radius: 40px;
    flex-direction: column;
    width: 280px;
    margin-top: 40px; 
}

.parent { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; 
    margin-left: 20px;
    margin-right: 20px;
}


.article-description{
    margin-left: 30px;
    margin-top: 20px;
}
.name{
    text-decoration: none;
    color: #004C97;
    font-weight: bolder;
    font-size: 20px;
    
}
.price{
    color: #D94E46;
    margin-left: 10px;
    margin-top: 27px;
}
.shipping{
    color: #838383;
    margin-left: 10px;
    margin-top: 10px;
}

.article-image{
    background-size: cover; 
    background-position: center;
    width: 280px;
    height: 380px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}